<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge; chrome=1">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="Lucrări în lemn la comandă">
    <title>WoodWorks</title>
    <!-- <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/tools-hand-drawn-icons/64/tools_44-512.png"> -->
    <link rel="preconnect" href="https://cdn2.iconfinder.com/data/icons/tools-hand-drawn-icons/64/tools_44-512.png">
    <link rel="stylesheet" href="../public/styles/main.css">
</head>
<body>